WEFLOW_CENTRAL_HOST=0.0.0.0
WEFLOW_CENTRAL_PORT=8787
WEFLOW_CENTRAL_DATABASE_URL=postgres://weflow@postgres:5432/weflow
WEFLOW_CENTRAL_DATABASE_PASSWORD_FILE=/run/secrets/postgres_password
WEFLOW_CENTRAL_ADMIN_TOKEN=replace-with-at-least-32-random-characters
WEFLOW_CENTRAL_TLS_TERMINATED=true
WEFLOW_CENTRAL_LOG_LEVEL=info
